<div class="main-container">
  <div class="content-area">
    <div class="content-container">
      <div class="content-area">
      </div>
      <nav class="sidenav">
        <section class="sidenav-content">
          <a href="" [routerLink]="['/three',{outlets:{threesub:'introduction'}}]" class="nav-link active">Gene</a> 
          <a href="" [routerLink]="['/three',{outlets:{threesub:'renderer'}}]" class="nav-link active">renderer</a> 
        </section>
      </nav>
      <div class="content-area">
        <router-outlet name="threesub"></router-outlet>
      </div>
    </div>
  </div>
</div>

